.container-fluid
	.row-fluid
		.span12
			.hero-unit
				%h1
					Let's PressPlay
				%p
					Managing press mentions is a pain, which sucks because getting attention for your startup is cool (TechCrunch says so) and should be fun (we say so). PressPlay makes is simple and easy to track, feature, and share your awesomeness.
				%p
					%a.btn.btn-primary.btn-large{:href => '/sign-up'}
						Play &raquo;
			
			.row-fluid
				.span4
					%h2
						Tracking
					%p
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					%p
						%a.btn{:href => '/'}
							View Details &raquo;
				.span4
					%h2
						Widgets!
					%p
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					%p
						%a.btn{:href => '/'}
							View Details &raquo;
				.span4
					%h2
						Show Off
					%p
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					%p
						%a.btn{:href => '/'}
							View Details &raquo;

				
		%hr